<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 영화</title>
    <link rel="stylesheet" href="./css/Movie_main.css">
    <script src="jquery-3.7.1.min.js"></script>

</head>
<body>
    <header>
        헤더
    </header>
    <main>
        <nav >
            <div class="mv-main-nav">
                <img src="https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png" alt="">
                <span>영화</span>
                <span>전체 영화</span>
            </div>
        </nav>
        <section>
            <h2>전체 영화</h2>


            <button class="mv-btn-more" id="mv-moreImage">더보기</button>
        </section>
    </main>
    <footer>
        풋터
    </footer>
    
</body>
</html>