@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

element.tk-style {
    padding-top: 40px;
    padding-bottom: 100px;
}

html {
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

/* body 중 메뉴바 */
.tk-page-util {
    display: block;
    position: static;
    width: 100%;
    height: 42px;
    background-color: #f8f8fa;
}

.tk-inner-wrap {
    width: 1100px;
    margin: 0 auto;
}

.tk-page-util .tk-location a {
    font-size: 15px;
    font-weight: 400;
    display: block;
    position: relative;
    float: left;
    height: 42px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 46px;
    color: #666;
}

.tk-page-util .tk-location a:hover{
    text-decoration: underline;
    font-size: 15px;
    font-weight: 400;
    display: block;
    position: relative;
    float: left;
    height: 42px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 46px;
    color: #666;
}

.tk-page-util .tk-location span {
    overflow: hidden;
    display: block;
    float: left;
    width: 13px;
    height: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
}

.tk-page-util .tk-location a:before, .tk-page-util .tk-location span .tk-no-link:before {
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    top: 0;
    width: 5px;
    height: 42px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center;
}

a:visited {
    color: #666;
    text-decoration: none;
    outline: 1px dotted #000;
}
/* theater main */
.theater-main {
    background-image: linear-gradient(135deg  ,#CC7171 ,#AD6E6E,#A06C6C ,#C6A2B6 );
    width: 100%;
    height: 326px;
    margin: 0;
    margin-bottom: 40px;
}
.main-innerwrap {
    width: 1100px;
    height: 286px;
    position: relative;
    padding-left: 285px;
    margin: 0 auto;
}
.main-left {
    width: 178px;
    height: 274px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 61px 0 0 0;
    line-height: 1.1;
}
.main-slogun {
    overflow: hidden;
    display: inline-block;
    height: 22px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 7px;
    color: #fff;
    font-size: .8em;
    background-color: #832727;
}
.main-txt {
    padding: 10px 0 35px 0;
    margin: 0;
    font-size: 30px;
    line-height: 1.3;
    color: #832727;
}
/* swiper-control */
.swiper-left {
    display: block;
    float: left;
    width: 100%;
    padding-top: 6px;
}
.swiper-bullet{
    display: inline-block;
    width: 100px;
    padding-top: 6px;
}
.swiper-bullet-btn{
    display: inline-block;
    width: 12.5%;
    height: 2px;
    opacity: 1;
    border-radius: 0;
    background-color: #832727;
}
.theater-btn{
    width: 50px;
    display: inline-block;
    margin: 0 0 0 7px;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
}
/* .theater-preview{
    width: 7px;
    /* background-image: url(../icons8-셰브론-오른쪽-24.png); 
} */
/* .theater-next{
    width: 7px;
} */
/* .theater-main .main-innerwrap .swiper-left .swiper-bullet .theater-btn .theater-preview {
    width: 7px;
}
.theater-main .main-innerwrap .swiper-left .swiper-bullet .theater-btn button {
    display: block;
    float: left;
    height: 12px;
    margin: 0 0 0 7px;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
}  */