<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeraBoxTicket</title>
    <link rel="stylesheet" href="../ticket/css/bookingSeat3.css">
</head>
<body>
    <header></header>
    
    <main>
        <!-- body 메뉴바 -->
        <section>
            <div class="tk-page-util">
                <div class="tk-inner-wrap">
                    <div class="tk-location">
                        <span>home</span>
                        <a href="#" title="예매 페이지로 이동">
                            예매
                            </a>
                        <a href="#" title="빠른예매 페이지로 이동">빠른예매</a>
                    </div>
                </div>
            </div>    
        </section>

        <!-- body -->
        <section>
            <div class="tk-bodyBox">
                <div class="tk-bigName">빠른예매</div>
                <div class="tk-bodyLeft">
                    <div class="tk-titleImg">

                        <div class="tk-titleText">약관 필수 동의</div>
                    </div>
                    <button type="reset" class="tk-button tk-gray-line small" id="seatMemberCntInit">
                        <i class="tk-iconset tk-ico-reset-small"></i> 초기화
                    </button>
                    <div class="tk-box">
                        <div class="tk-boxText">개인정보 수집 및 이용안내</div>
                        <a href="#">내용보기</a>
                    </div>
                </div>
                <!-- 오른쪽 블랙박스 시작 -->
                <div class="tk-bodyRight tk-black-box">
                    
                </div>
            </div>
        </section>
    </main>

    <footer></footer>
</body>
</html>