<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/myinfo.css">
</head>
<body>
    <header></header>
    <main>
    <!-- body중 메뉴바 -->
    <div style="width: 100%; background-color: #f8f8fa;">
        <section style="width: 1100px; margin: 0 auto;">
            <div class="mp-page-util">
                <div class="mp-inner-wrap">
                    <div class="mp-location">
                        <span>home</span>
                        <a href="#" title="마이페이지">
                            나의 테라박스
                        </a>
                        <a href="#" title="나의 예매 내역">나의 예매 내역</a>
                    </div>
                </div>
            </div>    
        </section>
        </div>
        <!-- 왼쪽 메뉴바 -->
        <section class="mp-section">
            <div class="mp-body-all">
                <div class="mp-left-box">
                    <div class="mp-tera-box">
                        <a href="#">나의 테라박스</a>
                    </div>
                    <div class="mp-ticketing">
                        <a href="#">나의 예매 내역  <img src="./img/arrow.png" alt="화살표"></a>
                    </div>
                    <div class="mp-question">
                        <a href="#">나의 문의 내역</a>
                    </div>
                    <div class="mp-member">
                        <a href="#">회원 정보 수정</a>
                    </div>
                </div>
            </div>    
        </section>       

    </main>
    <footer></footer>
</body>
</html>