
/* 태그 속성 모음 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

div {
    display: block;
}


html {
    -webkit-text-size-adjust: 100%;
}

body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
}

a:valid {
    color: #666;
    text-decoration: none;
    outline: 1px dotted #000;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 5px;
}

a:visited {
    color: #666;
    text-decoration: none;
    outline: 1px dotted #000;
}

a {
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: block;
}

label{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}


/* 헤더부분 속성 모음 */


#qt_header_by {
    position: relative;
    z-index: 100;
    height: 91px;
    background: rgba(109, 48, 48, 1);
}

/* main 부분 속성 모음 */

.qt-body-by {
    height: 100%;
    padding: 0;
}


.qt-main-by {
    min-width: 1100px;
    min-height: 100%;
    margin: -92px 0 -200px 0;
    padding: 92px 0 200px 0;
}



.qt-main-by #qt_contents_by {
    float: right;
    width: 840px;
    height: 715px;
}


/* 서브 메뉴바 속성 모음 */

.qt-submenu-by {
    display: block;
    position: static;
    height: 42px;
    background-color: #f8f8fa;
}

.qt-submenu-area-by {
    width: 1100px;
    margin: 0 auto;
    height: 42px;
}

.qt-submenu-area-by .qt-submenu-areaname-by {
    float: left;
    height: 42px;
    width: 250px;
}

.qt-submenu-area-by .qt-submenu-areaname-by span {
    overflow: hidden;
    display: block;
    float: left;
    width: 10px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
}


.qt-submenu-area-by .qt-submenu-areaname-by a::before {
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    top: 0;
    width: 5px;
    height: 42px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center;
}


.qt-submenu-areaname-by>a {
    display: inline;
    position: relative;
    float: left;
    height: 40px;
    width: 90px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 46px;
    color: #666;
    text-decoration: none;
    text-align: center;
}


/* 매인 컨텐츠 영역 속성 모음 */


.qt-mainarea-by {
    width: 1100px;
    height: 750px;
    margin: auto;
}



/* 왼쪽 사이드메뉴바 속성모음 */

#qt_sidebar-area_by {
    margin-top: 60px;
    right: 400px;
    float: left;
    width: 200px;
    background-color: #fff;
}


#qt_sidebar-area_by .qt-sidebar-each-by {
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    border-radius: 10px 10px 0 0;
}

#qt_sidebar-area_by .qt-sidebar-each-by a {
    display: block;
    font-size: 1.2em;
    line-height: 400%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: rgba(109, 48, 48, 1);
    height: 80px;
}

#qt_sidebar-area_by>ul {
    border: 1px solid #d8d9db;
    border: 1px solid #d8d9db;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-radius: 0 0 10px 10px;
}

#qt_sidebar-area_by>ul>li {
    border-top: 1px solid #d8d9db;
}

#qt_sidebar-area_by ul li .qt-first-area-by>a {
    /* color: rgba(85, 87, 88, 1); */
    font-weight: 500px;
    background: #fff url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-arr-lnb.png) no-repeat right center;

}

#qt_sidebar-area_by>ul>li>a {
    display: block;
    color: #222;
    padding: 10px 17px;
    font-weight: 200;
    background-color: #f2f4f5;

}

#qt_sidebar-area_by ul li a {
    display: block;
    text-decoration: none;
    outline: 1px dotted #000;
}



#qt_sidebar-area_by>ul>li {
    border-top: 1px solid #d8d9db;
}


#qt_sidebar-area_by .qt-info-by {
    position: relative;
    z-index: 2;
    margin: -1px 0 0 0;
    padding: 20px 18px;
    color: #666;
    border: 2px solid #d8d9db;
    border-top-width: 1px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}

#qt_sidebar-area_by .qt-info-by .qt-sidebar-each-by {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-image: none;
}

#qt_sidebar-area_by .qt-info-by p {
    margin: 0;
    padding: 0;
}

#qt_sidebar-area_by .qt-sidebar-each-by {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#qt_sidebar-area_by .qt-info-by .qt-sidebar-each-by span {
    display: block;
    position: relative;
    padding: 0 0 10px 0;
    font-family: Roboto;
    font-weight: 300;
}

#qt_sidebar-area_by .qt-info-by .qt-time-by {
    padding: 5px 0 0 0;
    font-family: Roboto;
    font-weight: 300;
}

#qt_sidebar-area_by .qt-info-by p {
    margin: 0;
    padding: 0;
}


.qt-clock-by {
    overflow: hidden;
    width: 13px;
    height: 13px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-clock.png);
}

.qt-iconset-by {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}



.qt-mainname-by {
    padding: 0 0 10px 0;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    height: -62px;
    color: #222;
    font-family: Roboto, Noto-sans, Nanum Barun Gothic;
}


.qt-mainarea-by #qt_content_by h2 .qt-sidebar-each-by {
    padding: 0 0 26px 0;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
    text-align: center;



    /* 빠른검색  영역 속성 모음 */
}

 #qt_contents_by{
    float: right;
    width: 840px;
    height: 715px;
    padding-top: 40px;
}

.qt-search-area-by{
    margin: 0;
    padding: 30px;
    background-color: #f2f4f5;
    border-radius: 10px;
    margin-bottom: 30px
}

.qt-input-search-area-by:before {
    content: '';
    display: table;
}

.qt-search-area-by .qt-label-by{
    display: block;
    float: left;
    padding: 0 20px 0 0;
    line-height: 36px;
    font-weight: 600;
    width: 85px;
    font-size: 15px;
}

.qt-searchbar-by{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    height: 36px;
    margin: 0;
    padding: 0 31px 0 0;
    border: 1px solid #d8d9db;
    border-radius: 3px;
}

































#qt_footer_by {
    position: relative;
    min-width: 1000px;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #f8f8fa;
}