<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../question/css/announcement.css">
    <link rel="img" href="/src/main/webapp/img/">
    <link rel="icon" href="../question/img/TeraBox.ico">
    <script src="../js/jquery-3.7.1.js"></script>
    <script src="./js/announcement.js"></script>

</head>

<body>
    <div class="qt-body-by">
        <header id="qt_header_by">
        </header>
        <main class="qt-main-by">
            <div class="qt-submenu-by">
                <div class="qt-submenu-area-by">
                    <div class="qt-submenu-areaname-by">
                        <span></span>
                        <a href="#" title="고객센터 페이지로 이동" id="qt_submenuname_by"> 고객센터</a>
                        <a href="#" title="고객센터 페이지로 이동" id="qt_submenuname1_by"> 고객센터 홈</a>
                    </div>
                </div>
            </div>

            <div class="qt-mainarea-by">
                <nav id="qt_sidebar-area_by" class="qt-sidebar-areapoint-by">
                    <p class="qt-sidebar-each-by">
                        <a href="#" title="고객센터">고객센터</a>
                    </p>
                    <ul>
                        <li class="qt-first-area-by">
                            <a class="qt-first-text-by" href="file:///D:/develop/TerrBox__by/Semi_TeraBox/src/main/webapp/views/question/questionHome.html">고객센터 홈</a> </li>
                        <li><a href="file:///D:/develop/TerrBox__by/Semi_TeraBox/src/main/webapp/views/question/qnq.html">자주묻는 질문</a></li>
                        <li><a class="qt-third-text-by" href="/src/main/webapp/views/question/announcement.html">공지사항</a></li>
                        <li><a href="#">단체관람 및 대관문의</a></li>
                        <li><a href="#">분실물 문의</a></li>
                    </ul>
                    <div class="qt-info-by">
                        <p class="qt-sidebar-each-by">
                            테라박스 고객센터
                            <i class="qt-bar-by"></i>
                            <span>Dream center</span>
                        </p>
                        <p class="qt-time-by">
                            <i class="qt-clock-by qt-iconset-by"></i>
                            "10:00~19:00"
                        </p>
                    </div>
                </nav>
                <div id="qt_contents_by">
                    <h2 class="qt-mainname-by">공지사항</h2>
                    <div class="qt-tab-block-by qt-small-by qt-mb-30-by">
                        <ul>
                            <li class="qt-on-by">
                                <button type="button" class="qt-btn-by qt-tabBtn-by" id="qt-totalTab-by" data-no
                                title="전체">전체</button>
                            </li>
                            <li>
                                <button type="button" class="qt-btn-by qt-tabBtn-by" id="qt-totalTab-by" data-no="88"
                                title="테라박스 공지">테라박스 공지</button>
                            </li>
                            <li>
                                <button type="button" class="qt-btn-by qt-tabBtn-by" id="qt-totalTab-by" data-no="89"
                                title="지점 공지">지점 공지</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div></div>
                <div></div>
            </div>
        </main>
        <footer id="qt_footer_by">
        </footer>
</body>

</html>