<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주 묻는 질문</title>
    <link rel="stylesheet" href="../question/css/qnl.css">
    <link rel="img" href="/src/main/webapp/img/">
    <link rel="icon" href="../question/img/TeraBox.ico">
    <script src="../js/jquery-3.7.1.js"></script>
    <script src="./js/qnq.js"></script>
</head>

<body>
    <div class="qt-body-by">
        <header id="qt_header_by">
        </header>
        <main class="qt-main-by">
            <div class="qt-submenu-by">
                <div class="qt-submenu-area-by">
                    <div class="qt-submenu-areaname-by">
                        <span></span>
                        <a href="#" title="고객센터 페이지로 이동" id="qt_submenuname_by"> 고객센터</a>
                        <a href="#" title="고객센터 페이지로 이동" id="qt_submenuname1_by">자주 묻는 질문</a>
                    </div>
                </div>
            </div>
            <div class="qt-mainarea-by">
                <nav id="qt_sidebar-area_by" class="qt-sidebar-areapoint-by">
                    <p class="qt-sidebar-each-by">
                        <a href="#" title="고객센터">고객센터</a>
                    </p>
                    <ul>
                        <li class="qt-first-area-by">
                            <a class="qt-first-text-by" href="#">고객센터 홈</a>
                        </li>
                        <li><a class="qt-second-text-by" href="#">자주 묻는 질문</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">단체관람 및 대관문의</a></li>
                        <li><a href="#">분실물 문의</a></li>
                    </ul>
                    <div class="qt-info-by">
                        <p class="qt-sidebar-each-by">
                            테라박스 고객센터
                            <i class="qt-bar-by"></i>
                            <span>Dream center</span>
                        </p>
                        <p class="qt-time-by">
                            <i class="qt-clock-by qt-iconset-by"></i>
                            "10:00~19:00"
                        </p>
                    </div>
                </nav>
                <div id="qt_contents_by">
                    <h2 class="qt-mainname-by">자주 묻는 질문</h2>
                    <div class="qt-input-search-area-by">
                        <div class="qt-search-area-by">
                            <label for="qt_search_by" class="qt-label-by">빠른검색</label>
                            <div class="qt-searchbar-by">
                                <input type="search" name="qt_search_by" class="qt-board-by" placeholder="검색어를 입력해 주세요"
                                    maxlength="15"></input>
                                <button type="button" class="qt-buttonicon-by"></button>
                            </div>
                        </div>
                    </div>
                    <div class="qt-tab-block-by qt-small-by qt-mb-30-by">
                        <ul>
                            <li class="qt-on-by">
                                <button type="button" class="qt-btn-by qt-tabBtn-by" id="qt-totalTab-by" data-no
                                    title="전체">전체</button>
                            </li>
                            <li>
                                <button type="button" class="qt-btn-by qt-tabBtn-by" id="qt-totalTab-by" data-no="88"
                                    title="영화예매">영화에매</button>
                            </li>
                            <li>
                                <button type="button" class="qt-btn-by qt-tabBtn-by" id="qt-totalTab-by" data-no="89"
                                    title="극장/특별관">극장/특별관</button>
                            </li>
                        </ul>
                    </div>
                    <div class="qt-faq-list-box-by">
                        <p class="qt-reset-by qt-mb10-by">
                            <strong><span id="qt_totalTitle_by">전체</span> <span class="qt-font-green-by"
                                    id="qt_totalCnt_by">77</span>건</strong>
                        </p>
                        <div class="qt-faq-list-by">
                            <ul>
                                <li>
                                    <div class="qt-qut-by" id="qt_on_by">
                                        <a href="#">
                                            <p class="qt-tit-by"><span class="qt-font-green-by">[영화예매]</span></p>
                                            <p class="qt-txt-by">
                                                <span class="qt-font-block-by">인터넷 예매시 부분환불/교환이 가능한가요?</span>
                                            </p>
                                        </a>
                                    </div>
                                    <div class="qt-awn-by" id="qt_awn_by">
                                        <p class="qt-cont-by">
                                            <span style="font-size: 10.0pt">
                                                <span style="line-height : 107%;">
                                                    <span>
                                                        인터넷 예매시에는 예매매수의 전체환불 및 교환만 가능합니다.
                                                        <br>
                                                        인터넷 예매분에 대해 교환환불 및 취소하고자 하실 경우, 예매하신 내역 전체에 대해 취소 후
                                                        <br>
                                                        새로 예매를 하시거나 해당 영화관을 방문하셔서 처리하셔야 합니다.
                                                        <br>
                                                        1) 인터넷상 취소 가능시간 (상영시간 20분전까지만 가능)
                                                        <br>
                                                        - 전체 취소가능하며, 부분 취소 불가
                                                        <br>
                                                        EX) 인원수, 관람자, 시간변경은 모두 취소 후 재예매 해주셔야합니다.
                                                        <br>
                                                        <br>
                                                        2) 현장 취소 가능시간(상영시간 전까지만 가능)
                                                        <br>
                                                        - 전체환불 및 교환가능
                                                        <br>
                                                        단, 부분환불 및 교환은 사용하신 카드로 전체 취소 후 재결제하셔야 합니다.
                                                    </span>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="qt-qut-by" id="qt_on_by1">
                                        <a href="#">
                                            <p class="qt-tit-by">
                                                <span class="qt-font-green-by">[영화 예매]</span>
                                            </p>
                                            <p class="qt-txt-by">
                                                <span class="qt-font-block-by">예매할 수 있는 횟수나 매수등의 제한이 있나요?</span>
                                            </p>
                                        </a>
                                    </div>
                                    <div class="qt-awn-by" id="qt_awn_by1">
                                        <p class="qt-cont-by">
                                            <span style="font-size: 10.0pt;">
                                                <span style="line-height : 107%;">
                                                    <span>
                                                        1. 온라인 예매 시(메가박스 홈페이지 및 APP) 1회 결제 시 최대 8매까지 예매 가능합니다.
                                                    </span>
                                                    <br>
                                                    <br>
                                                    <span>2. 1일 5회 또는 최대 24매, 최대 5개 지점까지만 예매 가능합니다. (3가지 조건 중 1개라도 충족시 추가 예매 불가)</span>
                                                    <br>
                                                    <span>  1) 2매씩 총 5번 예매 시도시 회수 조건 충족으로 추가 예매 불가 (5회)</span>
                                                    <br>
                                                    <span>  2) 8매씩 총 3번 예매 시도시 최대 매수 조건 충족으로 추가 예매 불가 (24매)</span>
                                                    <br>
                                                    <span >  3) 서로다른 5개 지점 예매 시 최대 이용가능 지점 초과로 추가 예매 불가 (5지점)</span>
                                                    <br>
                                                    <br>
                                                    <span>3. 매 월 1일에서 마지막날짜를 기준으로 인당 최대 100매까지 예매 가능합니다.</span>
                                                    <br>
                                                    <span>  1) 월 예매 제한 수량을 초과 할 경우 추가 예매가 불가하여 추후 예매 제한 수량이 감소할 수 있습니다. </span>
                                                    <br>
                                                    <span>  2) 월 예매 횟수는 예매를 취소하여도 초기화 되지 않습니다.</span>
                                                    <br>
                                                    <br>
                                                    <span>※ 만약 단체관람등으로 다량의 좌석 구매가 필요하시다면 고객센터 또는 1:1 문의를 통해 관람을 원하시는 지점으로 문의 부탁</span>
                                                    <br>
                                                    <span>드립니다.</span>
                                                    <br>
                                                    <br>
                                                    <span><strong>※적용일: 2023년 8월 7일</strong></span>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="qt-qut-by" id="qt_on_by2">
                                        <a href="#">
                                            <p class="qt-tit-by">
                                                <span class="qt-font-green-by">3.[기프트카드]</span>
                                            </p>
                                            <p class="qt-txt-by">
                                                <span class="qt-font-block-by">신용카드의 구매 한도는 얼마이며, 법인카드로 결제가
                                                    가능한가요?</span>
                                            </p>
                                        </a>
                                    </div>
                                    <div class="qt-awn-by" id="qt_awn_by2">
                                        <p class="qt-cont-by">
                                            <span style="font-size: 10.0pt;">
                                                <span style="line-height : 107%;">
                                                    <span>아래와 같이 구매가 가능합니다.</span>
                                                    <br>
                                                    <span>-</span>
                                                    <span>개인 신용카드 : 1개월간 상품권 구매 한도 100만원</span>
                                                    <br>
                                                    <span>-</span>
                                                    <span>법인카드 : 사업자별로 구매한도 상이 (각 사업자에 문의하시기 바랍니다.)</span>
                                                    <br>
                                                    <span>법인카드로 구매 가능하며, 청구서상 ‘상품권’ 유형으로 표시됩니다.</span>
                                                    <br>
                                                    <span>(개인 신용카드 동일 / 별도 상품권 가맹)</span>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="qt-qut-by" id="qt_on_by3">
                                        <a href="#">
                                            <p class="qt-tit-by">
                                                <span class="qt-font-green-by">4.[기프트카드]</span>
                                            </p>
                                            <p class="qt-txt-by">
                                                <span class="qt-font-block-by">여러 명에게 선물한 후 부분 적으로 취소가 가능한가요?</span>
                                            </p>
                                        </a>
                                    </div>
                                    <div class="qt-awn-by" id="qt_awn_by3">
                                        <p class="qt-cont-by">
                                            <span style="font-size: 10.0pt;">
                                                <span style="line-height : 107%;">
                                                    <span>
                                                        기프트카드는 부분환불은 불가하며, 전체 결제취소만 가능합니다.
                                                        <br>
                                                        또한 다수의 사람에게 발송된 기프트카드 중 1명만 사용 또는 본인 계정 내 등록 시에도 결제 취소는 불가합니다.
                                                    </span>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
</body>

</html>