<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 홈</title>
    <link rel="stylesheet" href="../question/css/questionHome.css">
    <link rel="img"  href="/src/main/webapp/img/">
    <link rel="icon" href="/src/main/webapp/img/TeraBox.ico"
</head>

<body>
    <div class="qt-body-by">
        <header id="qt_header_by">
        </header>
        <main class="qt-main-by">
            <div class="qt-submenu-by">
                <div class="qt-submenu-area-by">
                    <div class="qt-submenu-areaname-by">
                        <span></span>
                        <a href="#" title="고객센터 페이지로 이동" id="qt_submenuname_by"> 고객센터</a>
                        <a href="#" title="고객센터 페이지로 이동" id="qt_submenuname1_by"> 고객센터 홈</a>
                    </div>
                </div>
            </div>

            <div class="qt-mainarea-by">
                <nav id="qt_sidebar-area_by">
                    <p class="qt-sidebar-each-by">
                        <a href="#" title="고객센터">고객센터</a>
                    </p>
                    <ul>
                        <li class="qt-first-area-by">
                            <a href="#">고객센터 홈</a>
                        </li>
                        <li><a href="#">자주 묻는 질문</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">단체관람 및 대관문의</a></li>
                        <li><a href="#">분실물 문의</a></li>
                    </ul>
                    <div class="qt-info-by">
                        <p class="qt-sidebar-each-by">
                            테라박스 고객센터
                            <span>Dream center</span>
                        </p>
                        <p class="qt-time-by">
                            <i class="qt-clock-by qt-iconset-by"></i>
                            "10:00~19:00"
                        </p>
                    </div>
                </nav>
                <div id="qt_contents_by">
                    <h2 class="qt-mainname-by">고객센터 홈</h2>
                    <div class="qt-input-search-area-by">
                        <div class="qt-search-area-by">
                            <label for="qt_search_by" class="qt-label-by">빠른검색</label>
                            <div class="qt-searchbar-by">
                                <input type="search" name="qt_search_by" class="qt-board-by" placeholder="검색어를 입력해 주세요"
                                    maxlength="15"></input>
                                <button type="button" class="qt-buttonicon-by"></button>
                            </div>
                        </div>
                    </div>
                    <div class="qt-custo-main-by">
                        <div class="qt-custo-main-area-by">
                            <div class="qt-block-content-by">
                                <a href="#" title="분실물 문의 페이지로 이동">
                                    <p>
                                        <Strong>분실물 문의</Strong>
                                        "잃어버린 물건을 접수해 주시면"
                                        <br>
                                        "신속히 찾아드리겠습니다"
                                    </p>
                                </a>
                            </div>
                            <div class="qt-block-content1-by">
                                <a href="#" title="1:1 문의 페이지로 이동">
                                    <p>
                                        <Strong>1:1 문의</Strong>
                                        "해결되지않은 문제가 있나요?"
                                        <br>
                                        "1:1문의로 문의주세요"
                                    </p>
                                </a>
                            </div>
                            <div class="qt-block-content2-by">
                                <a href="#" title="단체관람 및 대관 문의 페이지로 이동">
                                    <p>
                                        <Strong>단체관람 및 대관문의</Strong>
                                        "단체관람 또는 대관을 원하시면"
                                        <br>
                                        "문의 해주세요"
                                    </p>
                                </a>
                            </div>
                            <div class="qt-block-content3-by">
                                <a href="#" title="자주 묻는 질문 페이지로 이동">
                                    <p>
                                        <Strong>자주 묻는 질문</Strong>
                                        "자주 묻는 질문"
                                        <br>
                                        "빠르고 간편하게 검색하세요"
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="qt-notice-wrap-by">
                            <div class="qt-block-left-by">
                                <div class="qt-tit-area-by">
                                    <h3 class="qt-tit-by qt-small-by ">자주 묻는 질문 BEST5</h3>
                                    <a href="#" class="qt-more-by" title="더보기">
                                        더보기
                                        <i class="qt-iconsetarea-by"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="qt-block-right-by">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer id="qt_footer_by">
        </footer>
</body>

</html>