<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 홈</title>
    <link rel="stylesheet" href="../question/css/questionHome.css">
    <!-- <link href="./tarr.css"> -->
</head>

<body>
    <div class="qt-body-by">
        <header id="qt_header_by">
        </header>
        <main class="qt-main-by">
            <div class="qt-submenu-by">
                <div class="qt-submenu-area-by">
                    <div class="qt-submenu-areaname-by">
                        <span></span>
                        <a href="" title="고객센터 페이지로 이동">고객센터</a>
                        <a href="" title="고객센터 페이지로 이동">고객센터 홈</a>
                    </div>
                </div>
            </div>
            <div class="qt-mainarea-by">
                <nav id="qt_sidebar-area_by">
                    <p class="qt-sidebar-each-by">
                        <a href="#" title="고객센터">고객센터</a>
                    </p>
                    <ul>
                        <li class="qt-first-area-by">
                            <a href="#">고객센터 홈</a>
                        </li>
                        <li><a href="#">분실물문의</a></li>
                        <li><a href="#">단체관람 및 대관문의</a></li>
                        <li><a href="#">자주묻는질문</a></li>
                        <li><a href="#">공지사항</a></li>
                    </ul>
                    <div class="qt-info-by">
                        <p class="qt-sidebar-each-by">
                            테라박스 고객센터
                            <span>Dream center</span>
                        </p>
                        <p class="qt-time-by">
                            <i class="qt-clock-by qt-iconset-by"></i>
                            "10:00~19:00"
                        </p>
                    </div>
                </nav>
                <div id="qt_contents_by">
                    <h2 class="qt-mainname-by">고객센터 홈</h2> 
                    <div class="qt-input-search-area-by">
                        <div class="qt-search-area-by">
                            <label for="qt_search_by" class="qt-label-by">빠른검색</label>
                            
                            <input type="search" name="qt_search_by" class="qt-board-by" style="width: 400px;"
                                placeholder="검색어를 입력해 주세요"></input> 
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </main>
    <footer id="qt_footer_by">
    </footer>
</body>

</html>