@charset "UTF-8";

.container {
    width: 100%;
    min-width: 1100px;
    min-height: 100%;
}
.page-util {
    display: block;
    position: static;
    width: 100%;
    height: 42px;
    background-color: #f8f8fa;
}
.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}
.inner-wrap:after {
    clear: both;
}
.page-util .location {
    float: left;
    height: 42px;
}
.page-util .location span {
    overflow: hidden;
    display: block;
    float: left;
    width: 13px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
}
.page-util .location a {
    display: block;
    position: relative;
    float: left;
    height: 42px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 46px;
    color: #666;
}
.location a:visited {
    color: #666;
    text-decoration: none;
    outline: 1px dotted #000;
}
.location a:visited {
    color: #666;
    text-decoration: none;
    outline: 1px dotted #000;
}
.location a {
    text-decoration: none;
    background-color: transparent;
}
.page-util .location a:before, .page-util .location span.no-link:before {
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    top: 0;
    width: 5px;
    height: 42px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center;
}
.page-util.fixed {
    position: fixed;
    left: 0;
    right: inherit;
    top: 0;
    z-index: 51;
    background-color: #444;
}
.lnb-area.addchat {
    position: relative;
}
.lnb-area.addchat #lnb>ul>li:last-child a {
    border-radius: 0 0 10px 10px;
}
.lnb-area.location-fixed {
    padding-top: 42px;
}
.lnb-area {
    float: left;
    width: 200px;
    padding: 40px 0 0 0;
    background-color: #fff;
}
#lnb {
    margin: 0;
    padding: 0;
}
#lnb .tit {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
    /* background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-lnb-tit.png) 0 0; */
    background-color: #6D3030;
}
#lnb .tit a {
    display: block;
    width: 100%;
    font-size: 1.2em;
    line-height: 90px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.lnb-area .ty2 .tit a {
    background-color: #351f66;
}
.lnb-area .ty2 .tit a:visited {
    color: #666;
    text-decoration: none;
    outline: 1px dotted #000;
}
#lnb>ul {
    border: 1px solid #d8d9db;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-radius: 0 0 10px 10px;
}
#lnb>ul>li:first-child {
    border-top: 0;
}

#lnb.ty2 ul li.on>a {
    color: #6D3030;
    font-weight: 400;
    background: #fff url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-arr-lnb.png) no-repeat right center;
}

#lnb>ul>li {
    border-top: 1px solid #d8d9db;
}
#lnb ul li.on>a {
    color: #6D3030;
    font-weight: 400;
    background: #fff url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-arr-lnb.png) no-repeat right center;
}
#lnb>ul>li>a {
    display: block;
    color: #222;
    padding: 10px 15px;
    font-weight: 400;
    background-color: #f2f4f5;
}
#lnb ul li a {
    display: block;
    text-decoration: none;
    line-height: 1.3;
}
#lnb .left-customer-info {
    position: relative;
    z-index: 2;
    margin: -8px 0 0 0;
    padding: 20px 18px;
    color: #666;
    border: 2px solid #d8d9db;
    border-top-width: 1px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}
#lnb .left-customer-info .tit {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-image: none;
}
#lnb .left-customer-info .tit span {
    display: block;
    position: relative;
    padding: 0 0 10px 0;
    font-family: Roboto;
    font-weight: 300;
}
#lnb .left-customer-info .tit span:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 1px;
    background-color: #d4d4d4;
}

/* 오른쪽 영역 시작 */
.container.has-lnb #contents {
    float: right;
    width: calc(100% - 260px);
}
#contents {
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
}
#contents>h2.tit {
    padding: 0 0 26px 0;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
}
#contents>h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
.tab-block {
    position: relative;
}
.tab-block:before {
    content: '';
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    height: 1px;
    background-color: #d8d9db;
}
.tab-block ul:after {
    clear: both;
}
.tab-block ol,.tab-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tab-block ul:after {
    clear: both;
}
.tab-block ul:after, .tab-block ul:before {
    content: '';
    display: table;
}
.tab-block ul li.on:first-child {
    border-color: #6D3030;
}
.tab-block ul li {
    position: relative;
    float: left;
    width: 20%;
    border: 1px solid #d8d9db;
    border-left: 0;
}
.tab-block ul li.hover .btn, .tab-block ul li.on .btn {
    color: #fff;
    background-color: #6D3030;
}
.tab-block ul li .btn {
    display: block;
    width: 100%;
    height: 34px;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 34px;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
}
.tab-block ul li a:visited {
    color: #666;
    text-decoration: none;
    outline: 1px dotted #000;
}

.mypage-infomation {
    position: relative;
    min-height: 36px;
    padding-bottom: 10px;
}
.mypage-infomation.mt20 {
    margin-top: 20px!important;
}
.dot-list.mb20 {
    margin-bottom: 20px!important;
}
.dot-list>li {
    position: relative;
    padding: 0 0 0 8px;
}
.dot-list>li:before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: #6D3030;
    width: 3px;
    height: 3px;
}

/* .agree-box */
.agree-box {
    border: 1px solid #d8d9db;
    border-radius: 10px;
    margin-top: 30px;
}
.agree-box dd, .agree-box dl, .agree-box dt {
    margin: 0;
    padding: 0;
}
.agree-box dl dt {
    position: relative;
    padding: 0 30px;
    border-bottom: 1px solid #d8d9db;
    height: 50px;
    line-height: 48px;
}
.agree-box dl dd {
    padding: 30px;
}
.agree-box dl dt span.bg-chk {
    float: left;
}
.bg-chk.mr10 {
    margin-right: 10px!important;
}
.bg-chk {
    display: inline-block;
    position: relative;
}
.font-orange {
    color: #e63e30!important;
}
.ismsimp {
    font-size: 16px!important;
    color: #000!important;
    font-weight: 700!important;
}





.mypage-infomation .btn-group {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
}
.btn-group.right {
    text-align: right;
}
.btn-group:before {
    content: '';
    display: table;
}
.btn-group:after {
    clear: both;
}
.btn-group a.button:active, .btn-group a.button:focus, .btn-group a.button:hover, a.button:visited {
    color: #6D3030;
}
.btn-group .button {
    margin: 0 3px;
}
.btn-group .button {
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 34px;
    color: #6D3030;
    font-weight: 400;
    border-radius: 4px;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    text-decoration: none;
    border: 1px solid #6D3030;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}
.mypage-infomation+.board-list-util {
    padding: 0;
    margin: 0;
}
.board-list-util {
    margin: 30px 0 15px 0;
    text-align: right;
}
.board-list-util.mb10 {
    margin-bottom: 10px!important;
}
.board-list-util .result-count {
    position: relative;
    float: left;
    margin: 0;
    padding-top: 15px;
    line-height: 1.1;
    vertical-align: top;
}
b, strong {
    font-weight: 700;
}
.board-list-util .result-count b {
    color: #6D3030;
}

select {
    border: 1px solid #d8d9db;
    border-radius: 3px;
    height:36px;
    color:#999999;
}
.board-search {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    height: 36px;
    margin: 0;
    padding: 0 31px 0 0;
    border: 1px solid #d8d9db;
    border-radius: 3px;
}
.board-search .btn-search-input {
    position: absolute;
    right: 1px;
    top: 1px;
}
.board-search .input-text:focus,.board-search .input-text:active {
    border:0;
}
.board-search .input-text {
    display: block;
    width: 100%;
    height: 34px;
    border: 0;
}

.btn-search-input {
    overflow: hidden;
    width: 30px;
    height: 32px;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: 0;
    text-indent: -9999px;
    background: #fff url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-search-input.png) no-repeat center;
}
button.btn-search-input {
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
.board-list-util:after {
    clear: both;
}

.table-wrap {
    position: relative;
    border-top: 1px solid #555;
}
.board-list {
    line-height: 1.3;
    text-align: center;
}
table.board-list {
    width: 100%;
    margin: 0;
    border: 0;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
}
.board-list>thead>tr>th {
    height: 45px;
    padding: 3px 10px;
    color: #222;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
    background-color: #f2f4f5;
}
.board-list>tbody>tr>td, .board-list>tbody>tr>th {
    height: 45px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
    text-align: center;
}
.pagination {
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center;
}